.side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 80px;
    height: calc(100vh - 60px);
    border: grey;
    z-index: 999;
    margin-top: 20px;
    margin-right: 10px;
}

#side-bar-pics{
    margin-left: 28px;
    height: 25px;
}

#side-box{
    padding-top: 10px;
}
#side-box:hover{
    cursor: pointer;
    opacity: 50%;
}

p{
    margin-top: 0;
    text-align: center;
    font-size: 12px;
}